<a href="{% url 'products:add_products' %}"> Add Product</a>

{% if user.is_authenticated %}
<a href="{% url 'accounts:profile' %} " style="margin-left: 15.5cm;"> {{ user }}</a>
{% else %}

{% endif %}

{% if user.is_authenticated %}
<a style="margin-left: 36.5cm;" href="{% url 'logout' %}" > logout</a>
{% else %}
<a style="margin-left: 36.0cm;" href="{% url 'login' %}" > login</a>
<a style="margin-left: 32.0m" href="{% url 'accounts:signup' %}" > Signup</a>
{% endif %}


<h1>---------------------------------------------------------------------</h1>
<h2>{{ products.count }}+ Available Products</h2>

<h1>Product List:</h1>

{% for product in products %}

<h3>* {{ product }}</h3>
<a href="{% url 'products:product_details' product.slug %}" > See Details </a>

{% if product.owner == user %}
<a href="{% url 'products:edit_product' product.slug %}" style="margin-left: 1.0em" > Edit Product </a>
{% else %}

{% endif %}

<h1>---------------------------------------------------------------------</h1>
{% endfor %}